@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Fira+Code&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
}

body {
  background: #0e1216;
  /* color: var(--foreground); */
  /* primary:var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed; /* or sticky */
  top: 0;
  width: 100%;
  z-index: 100; /* Higher than the hero's z-index */
  background-color:#0e1015; /* 80% opacity */
  /* backdrop-filter: blur(120px); Creates a sleek glass effect */
  border-bottom: 1px solid hsl(var(--border));
}